*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 4em auto;
  display: flex;
  gap: 2em;
}

button {
  font-family: sans-serif;
}

.small {
  font-size: 0.95rem;
  padding: 0.15em 1.25em;
}

.medium {
  font-size: 1.15rem;
  padding: 0.35em 1.75em;
}

.large {
  font-size: 1.5rem;
  padding: 0.5em 2.5em;
}

.primary {
  background-color: rgb(25, 25, 138);
  color: #fff;
  border: 0;
}

.secondary {
  background-color: transparent;
  border: 2px solid rgb(25, 25, 138);
  color: rgb(25, 25, 138);
}

.tertiary {
  background-color: transparent;
  color: rgb(25, 25, 138);
  border: 0;
}

button.primary:disabled {
  background-color: #bbb;
}

button.secondary:disabled {
  color: #bbb;
  border: 2px solid #bbb;
}

button.tertiary:disabled {
  color: #bbb;
}
